<IfModule mod_rewrite.c>
#Options +FollowSymlinks
RewriteEngine On
RewriteBase /mini-blog/

RewriteRule ^record-([0-9]+)$ record.php?id=$1 [L]
#RewriteRule  ^/$                 /index.php  [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /mini-blog/error.php?q=$1 [QSA,L]
</IfModule>


